#chat-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;

    background: #ffffffdd;
    backdrop-filter: blur(4px);

    border: 1px solid #aaa;
    border-radius: 6px;

    height: 400px;
    overflow-y: auto;

    color: #000;
}

.mensagem {
    margin-bottom: 8px;
    line-height: 1.3;
}

.mensagem-tempo {
    font-size: 12px;
    color: #777;
    margin-left: 4px;
}

#formMsg {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#msgInput {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #aaa;
}