{% extends "base.html"%}

{% block title%}Cadastro e Login{%endblock%}

{% block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logincss.css') }}">
{%endblock%}

{%block content%}
<section class="formulario">
        <h2>Cadastro</h2>
        <form method="post" action="/acesso/cadastro/novo_usuario">
            <label for="username">Nome de usuário:</label>
            <input id="username" name="first-name" type="text" required />

            <label for="email">E-mail:</label>
            <input id="email" name="email" type="email" required />

            <label for="password">Senha:</label>
            <input id="password" name="password" type="password" pattern="[a-z0-5]{8,}" required />

            <button type="submit">Cadastrar</button>
        </form>
</section>
{%endblock%}
