{% extends "base.html"%}

{% block title%}Página Inicial{%endblock%}

{%block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
{%endblock%}

{%block content%}
<article>
    <h2>Introdução</h2>
    <p>De nada adianta usar roupas caras, um corte de cabelo estiloso ou estar em forma se a sua pele está descuidada, o hálito comprometido ou suas mãos transmitem falta de cuidado. Muitos homens ainda acreditam que cuidar da aparência é vaidade, mas a verdade é que a falta de higiene e atenção aos detalhes derruba qualquer estilo. Os cuidados pessoais não são luxo: são a fundação da sua imagem, saúde e da forma como os outros enxergam você. </p>
    <h2>Contexto</h2>
    
</article>        
{%endblock%}