{% extends "base.html"%}

{% block title%}Cadastro e Login{%endblock%}

{% block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logincss.css') }}">
{%endblock%}

{%block content%}
<section class="formulario">
        <h2>Login</h2>
        <form method="post">
            <label for="login-email">E-mail:</label>
            <input id="login-email" name="email" type="email" required />

            <label for="login-password">Senha:</label>
            <input id="login-password" name="password" type="password" required />

            <button type="submit">Entrar</button>
        </form>
</section>
{%endblock%}
