{% extends "base.html"%}

{% block title %}Nova senha{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/logincss.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
<main class="auth-container">
  <section class="formulario">
    <div class="login-icon">
      <i class="fas fa-user"></i>
    </div>
    <h2>Redefinir Senha</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('redefinir_senha', token=token) }}">

        <label for="login-password">Senha:</label>
      <div class="input-group">
        <span class="input-icon"><i class="fas fa-lock"></i></span>
        <input id="senha" name="senha" type="password" placeholder="Digite sua senha" minlength="8" required />
      </div>
        
      <label for="login-password">Confirme a senha:</label>
      <div class="input-group">
        <span class="input-icon"><i class="fas fa-lock"></i></span>
        <input id="confirmacao_senha" name="confirmacao_senha" type="password" placeholder="Confirme sua senha" minlength="8" required />
      </div>
      
      <button type="submit">Mudar</button>

    </form>
  </section>
</main>
{% endblock %}
