<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
        <meta charset="UTF-8">
        <title>Meu Perfil</title>
    </head> 
    <body>
        <header>
            <a href="{{url_for("home") }}"><img src="{{url_for('static', filename='imagens/voltar_botao.jpg')}}"></a>
            <span><a href="{{url_for("home") }}">Index_base</a></span>
        </header>
        <main>
            <h2>Meu perfil</h2>
                
        <section class="formulario">
            <form method="post" action="{{ url_for('update_perfil') }}" enctype="multipart/form-data">
                <div class="form-container">
                    <!-- Coluna da esquerda: dados -->
                    <div class="form-esquerda">
                        <div class="informacoes">
                            <label>Nome:</label>
                            <input type="text" name="nome" value="{{ session.get('nome') }}" required>
                        </div>
                        <div class="informacoes">
                            <label>Sobrenome:</label>
                            <input type="text" name="sobrenome" value="{{ session.get('sobrenome') }}" required>
                        </div>
                        <div class="informacoes">
                            <label>Username:</label>
                            <input type="text" name="username" value="{{ session.get('username') }}" required>
                        </div>
                        <div class="informacoes">
                            <label>Email:</label>
                            <input type="email" name="email" value="{{ session.get('email') }}" required>
                        </div>
                    </div>
                
                    <!-- Coluna da direita: foto -->
                    <div class="form-direita">
                        <img src="{{ session.get('foto_perfil')}}" alt="Foto de perfil" class="foto-perfil">
                        <input type="file" name="foto_perfil" accept="image/*">
                    </div>
                </div>
                <button type="submit">Atualizar dados</button>
            </form>
        </section>

        </main>
    </body>
</html>
